<!DOCTYPE html>
<html>
<head>
        <title>Enter your details</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
        <div class="form-container container">
            <h1>Enter your details:</h1>
            <form method="post">
                <label>Name:</label>
                <input type="text" name="name">
                <br>
                <label>Email:</label>
                <input type="email" name="email">
                <br>
                <label>Age:</label>
                <input type="number" name="age">
                <br>
                <label>Gender:</label>
                <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
</body>
</html>
